<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .top-bar{
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 75px;
            background: rgb(32, 138, 165);
            display: flex;
            align-items: center;
            color: white;
        }

        #app {
        font-family: Avenir, Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;
        color: #2c3e50;
        margin-top: 60px;
        }
      .MapBox{
        background: black;
        width: 100%;
        height: 500px; 
        background: black;
        top: 50px;
        right: 0;
        }
        .top-bar h3{
        position: absolute;
        margin-right: 25px;
        right: 0px;
        }
        #myMap {
            height: 38.3rem; }
    </style>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
    integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
     integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg="
     crossorigin=""></script>
    <title>realtime marker</title>
</head>
<body>
    <div id="app">
        <nav class="top-bar"><h3 id="connect">disconnected</h3></nav>
        <span id="accuracy-info" style="position:absolute; left:16px; font-size:14px;">
            Mendeteksi lokasi...
        </span>
        <div id="myMap" class="MapBox"></div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script>
    // =====================
    // INISIALISASI MAP
    // =====================
    var map = L.map('myMap').setView([0.675713, 127.3718183], 13);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);

    // =====================
    // VARIABEL GLOBAL
    // =====================
    var clickMarkers = {};
    var markerGroup = L.layerGroup().addTo(map);

    // =====================
    // INISIALISASI SOCKET
    // =====================
    var socket = io.connect(); // dinamis, tidak hardcoded

    // =====================
    // HELPER: BUAT ICON
    // =====================
    function createIcon(isOwn) {
        return new L.Icon({
            iconUrl: isOwn
                ? 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png'
                : 'https://raw.githubusercontent.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-yellow.png',
            shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
            iconSize: [25, 41],
            iconAnchor: [12, 41],
            popupAnchor: [1, -34],
            shadowSize: [41, 41]
        });
    }

    // =====================
    // HELPER: TAMBAH / UPDATE MARKER
    // =====================
    function upsertMarker(key, lat, lng) {
        // Hapus marker lama jika sudah ada
        if (clickMarkers[key]) {
            markerGroup.removeLayer(clickMarkers[key]);
            delete clickMarkers[key];
        }

        // Buat marker baru
        var icon = createIcon(key === socket.id);
        clickMarkers[key] = L.marker([lat, lng], { icon: icon }).addTo(markerGroup);
    }

    // =====================
    // HELPER: HAPUS MARKER
    // =====================
    function removeMarker(key) {
        if (clickMarkers[key]) {
            markerGroup.removeLayer(clickMarkers[key]);
            delete clickMarkers[key];
        }
    }

    // =====================
    // SOCKET: ON CONNECT
    // =====================
    socket.on('on_connect', function(msg) {
        document.getElementById('connect').innerText = msg;
        console.log('Socket terhubung:', socket.id);
    });

    
   

    // =====================
    // SOCKET: REMOVE MARKER (saat user disconnect)
    // =====================
    socket.on('remove_marker', function(key) {
        console.log('remove_marker:', key);
        removeMarker(key);
    });

    // =====================
    // SOCKET: DISCONNECT
    // =====================
    socket.on('disconnect', function() {
        document.getElementById('connect').innerText = 'disconnected';
        console.warn('Socket terputus');
    });

    // =====================
    // GEOLOCATION: KIRIM POSISI AWAL USER
    // =====================
    // =====================
// GEOLOCATION: WATCH POSISI USER (realtime)
// =====================
var watchId = null;

function startWatchPosition() {
    if (!navigator.geolocation) {
        console.warn('Browser tidak mendukung geolocation');
        sendFallbackPosition();
        return;
    }

    watchId = navigator.geolocation.watchPosition(
        function(posisi) {
            var latitude  = posisi.coords.latitude;
            var longitude = posisi.coords.longitude;
            var accuracy  = posisi.coords.accuracy; // dalam meter

            console.log('Posisi update:', latitude, longitude, '| Akurasi:', accuracy, 'meter');

            // Tampilkan info akurasi ke UI
            updateAccuracyUI(accuracy);

            // Hanya pindahkan view map saat pertama kali
            if (!window._mapViewSet) {
                map.setView([latitude, longitude], 17);
                window._mapViewSet = true;
            }

            // Kirim ke server
            socket.emit('on_click', [socket.id, { lat: latitude, lng: longitude }]);
        },
        function(error) {
            console.warn('Geolocation error:', error.message);

            switch(error.code) {
                case error.PERMISSION_DENIED:
                    document.getElementById('accuracy-info').innerText = 'Izin lokasi ditolak';
                    break;
                case error.POSITION_UNAVAILABLE:
                    document.getElementById('accuracy-info').innerText = 'Lokasi tidak tersedia';
                    break;
                case error.TIMEOUT:
                    document.getElementById('accuracy-info').innerText = 'Timeout, coba lagi...';
                    // Retry otomatis setelah 3 detik
                    setTimeout(startWatchPosition, 3000);
                    break;
            }

            sendFallbackPosition();
        },
        {
            enableHighAccuracy: true, // pakai GPS jika tersedia
            timeout: 15000,           // tunggu maksimal 15 detik
            maximumAge: 0             // jangan pakai cache lokasi lama
        }
    );
}

function sendFallbackPosition() {
    var fallbackLat = 0.675713;
    var fallbackLng = 127.3718183;
    map.setView([fallbackLat, fallbackLng], 13);
    socket.emit('on_click', [socket.id, { lat: fallbackLat, lng: fallbackLng }]);
}

function updateAccuracyUI(accuracy) {
    var el = document.getElementById('accuracy-info');
    if (!el) return;

    if (accuracy <= 10) {
        el.innerText = '📍 Akurasi: ' + Math.round(accuracy) + 'm (GPS)';
        el.style.color = 'lightgreen';
    } else if (accuracy <= 100) {
        el.innerText = '📍 Akurasi: ' + Math.round(accuracy) + 'm (Baik)';
        el.style.color = 'yellow';
    } else {
        el.innerText = '📍 Akurasi: ' + Math.round(accuracy) + 'm (Buruk - pakai HP)';
        el.style.color = 'orange';
    }
}

// Mulai watch saat socket sudah connect
socket.on('on_connect', function(msg) {
    document.getElementById('connect').innerText = msg;
    console.log('Socket terhubung:', socket.id);
    startWatchPosition(); // mulai tracking setelah connect
});

// Hentikan watch saat tab ditutup
window.addEventListener('beforeunload', function() {
    if (watchId !== null) {
        navigator.geolocation.clearWatch(watchId);
    }
});

</script>
</body>
</html>
